*{
    border: 0;
}
.block {
    margin-bottom: 10px;
}

.block > div {
    background: #00BCD4;
    border: 1px solid #fff;
    height: 150px;
    color: #fff;
    display: block;
    width: 100%;
}

.inside {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
}


@media (min-width: 1800px) {
    .first, .second, .third, .fourth, .fifth {
        display: flex;
    }

    .third .colored {
        flex-basis: 25%;
    }

    .fourth .colored {
        flex-basis: 25%;
    }

    .fourth .colored:nth-child(3) {
        flex-basis: 50%;
    }
}

@media (max-width: 1800px) {
    .first, .second, .third, .fourth, .fifth {
        display: flex;
    }

    .third .colored {
        flex-basis: 25%;
    }

    .fourth .colored {
        flex-basis: 25%;
    }

    .fourth .colored:nth-child(3) {
        flex-basis: 50%;
    }
}

@media (max-width: 1200px) {
    .first {
        display: flex;
        flex-wrap: wrap;
        border:0;
    }

    .first .colored {
        flex-basis: 49%;
    }

    .third {
        display: flex;
        flex-wrap: wrap;
    }

    .third .colored {
        flex-basis: 50%;
    }

    .third .colored:last-child {
        flex-basis: 100%;
    }

    .fourth .colored {
        flex-basis: 35%;
    }

    .fourth .colored:nth-child(1) {
        flex-basis: 30%;
    }

    .fourth .colored:nth-child(3) {
        flex-basis: 35%;
    }

    .fifth {
        display: flex;
        flex-wrap: wrap;
    }

    .fifth .colored {
        flex-basis: 33%;
    }
}

@media (max-width: 960px) {
    .third .colored {
        flex-basis: 33%;
    }

    .third .colored:last-child {
        flex-basis: 33%;
    }

    .fifth {
        display: flex;
        flex-wrap: wrap;
    }

    .fifth .colored {
        flex-basis: 49%;
    }

    .fifth .colored:last-child {
        flex-basis: 100%;
    }
}

@media (max-width: 768px) {
    .first,
    .second,
    .fourth{
        display: flex;
        flex-wrap: wrap;
    }

    .first .colored {
        flex-basis: 50%;
    }

    .second .colored {
        flex-basis: 50%;
    }

    .third .colored {
        flex-basis: 100%;
    }
    .third .colored:last-child {
        flex-basis: 100%;
    }


    .fourth .colored {
        flex-basis: 50%;
    }

    .fourth .colored:nth-child(1) {
        flex-basis: 50%;
    }

    .fourth .colored:nth-child(3) {
        flex-basis: 100%;
    }
}
@media (max-width: 360px) {
    .fourth .colored {
        flex-basis: 100%;
    }

    .fourth .colored:nth-child(1) {
        flex-basis: 100%;
    }

    .fourth .colored:nth-child(3) {
        flex-basis: 100%;
    }
    .fifth .colored {
        flex-basis: 100%;
    }

    .fifth .colored:last-child {
        flex-basis: 100%;
    }

}